{% extends 'base.html' %}
{% block content %}
    <h2>Welcome, {{ user.username }}</h2>
    <h3>Assigned Tasks:</h3>
    <ul>
        {% for task in assigned_tasks %}
        <div class="task-box">
            <h3 class="task-title">{{ task.title }}</h3>
            <p class="task-description">{{ task.description }}</p>
            <form class="task-form" action="{% url 'update_task_status' task.id %}" method="post">
                {% csrf_token %}
                <select name="status">
                    {% for status, _ in task.TASK_STATUS_CHOICES %}
                        <option value="{{ status }}" {% if task.status == status %}selected{% endif %}>{{ status }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Update Status</button>
            </form>
        </div>
        {% endfor %}
    </ul>
    <a href="{% url 'view_schedule' %}" class="btn btn-primary">View Schedule</a>
    <a href="{% url 'view_payroll' %}" class="btn btn-primary">View Payroll</a>
    <a href="{% url 'view_timesheet' %}" class="btn btn-primary">View Timesheet</a>
{% endblock %}
